@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --saumo : #FF6565;
    --white : #fff;
    --black : #000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro' ;
}
.flex{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.center{
    text-align: center;
}
.section{
    height: 100vh;
    width: 100vw;
    padding: 6em 9em;
}
/* ///////////////////////////////////////////  header ///////////////////// */
header{
    justify-content: space-between;
    padding: 1em 13em ;
}
.logo-img{
    width: 9em;
    height: 2em;
    cursor: pointer;
}
.hero-section-container{
    background-image: url(./images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav a{
    color: var(--white);
    padding-left: 1.5em;
    text-decoration: none;
    font-size: 0.7em;
    /* letter-spacing: 2px; */
}
nav a:hover{
    color: var(--saumo);
}
.hero-section{
    color: var(--white);
    padding: 20em 0 7em 0;
}
.title{
    font-size: 1.5em;
    font-weight: bold;
}
.sub-title{
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 0.5em;
}
.description{
    font-size: 0.9em;
    font-weight: normal;
    width: 65%;
    margin: 0 auto;
    padding: 2em 0;
    line-height: 1.5em;
}
.btn{
    margin: 2em auto 1.5em auto;
    padding: 1em 2em;
    border-radius: 5em;
    background-color: var(--saumo);
    color: var(--white);
    font-weight: bold;
    box-shadow: 2px 2px 20px rgb(56, 54, 54);
    cursor: pointer;
    border: none;
}
.hero-section button:hover{
    opacity: 0.9;
    
}
.card-container{
    padding: 3em 0;
    justify-content: center;
    gap: 4em;
}
.card .description{
    font-size: 0.6em;
}
/* ////////////////////////////////////////// result section ////////////// */
.result-section{
    background-image: url(./images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white);
}
.result-card img{
    width: 11.5em;
    height: 11em;
}
.result-card{
    position: relative;

}
.img-content{
    position: absolute;
    top: 3em;
    left: 2em;
    z-index: 1;
}
.img-content h4{
    font-size: 3em;
}
.img-content p{
    font-size: 0.7em;
    padding-top: 1em;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em 0;
    margin: 0 auto;
    width: 50%;
}
.input-container input{
    border: none;
    padding: 1em ;
    box-shadow: 0 1px 1px rgb(170, 168, 168);
    outline: none;
}
.input-container input::placeholder{
    font-weight: bold;
}
footer{
    height: 30vh;
    width: 100vw;
    background-color: #071629;
    padding: 2em 7em;
}
.footer-top{
    justify-content: space-between;
    padding: 1em 7em;

}
footer p{
    color: gray;
}
.icons i{
    color: #071629;
    background-color: #ffffff;
    border-radius: 5em;
    padding: 0.3em;
}