@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro';
}
h2{
    text-align: center;
    font-weight: 200;
    letter-spacing: 1px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    padding: 0 7em;
}
.hero-section{
    background-image: url(./images/Group\ 1bg-hero-section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    /* background-color: rgb(47, 48, 48); */
    height: 160vh;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0.5em;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2.3em;
    font-size: 0.8em;

}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
.hero-text{
    text-align: center;
    margin: 20vh 0;
}
.hero-text h1{
    font-size: 13vmin;
    font-weight: bolder;
    /* margin-top: 20vh; */
}
.hero-text span:not(:last-child){
    padding-right: 3em;
}
.hero-text button{
    background-color: #C271FF;
    border-radius: 5em;
    padding: 1.3em 1.5em;
    margin: 5em auto;
    font-size: 0.7em;
    color: white;
    border: none;
    box-shadow: 2px 2px 30px rgb(69, 67, 67);

}
/* /////////////////////////// hero section bottom */
h2 span{
    color: #C271FF ;
    font-weight: bold;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}
.card-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 8em;
}
.card-container img{
    border-radius: 5em;
}
.card-container h3{
    font-weight: bold;
    font-size: 1em;
    padding: 1em 0 0.4em 0;
}
.card-container p{
    font-size: 0.7em;
    font-style: italic;
    font-weight: 100;
    color: white;
    padding: 0 2em;
    text-align: center;
}
/* /////////////////// ////////////////////////////*/
.quote-section{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    background-color: #C271FF;
    color: white;
    padding: 0 7em;
}
.quote-section img{
    border-radius: 5em;
}
.quote-section:nth-child(2) h3{
    /* width: 90vw; */
    font-weight: bold;
    padding: 1.5em 0 0 0;
}
.quote-section:nth-child(2):not(h3){
    font-style: italic;
}
/* /////////////////////////////// video section  */
.video-section{
    gap: 20px;
    margin-bottom: 5em;
}
.tutorials-section h2{
    font-weight: normal;
    padding: 3.5em ;
}
.video-container{
    background-color: rgb(255, 255, 255);
    position: relative;
    /* border: 1px solid black; */
}
.video-container img{
    /* position: relative; */
    width: 14em;
    height: 7em;
    margin: 0 auto;
}
.circle{
    position: absolute;
    top: 2.5em;
    left: 40%;
    height: 2.5em;
    width: 2.5em;
    border-radius: 5em;
    background-color: rgb(255, 255, 254);
    z-index: 1;
    opacity: 80%;
}
.description{
    padding: 1em;
}
.description p{
    font-size: 0.7em;
    color: gray;
}
.feedback-owner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.feedback-owner img{
    width: 2em;
    height: 2em;
    border-radius: 5em;
    margin: 0 0.3em 0 1em;
}
.feedback-owner h4{
    font-size: 0.9em;
    color: #C271FF;
}
.review-container{
    justify-content: space-between;
    padding: 0.8em 1em;
}
.review{
    color: #C271FF;
}
.review i:last-child{
    color: gray;
}
/* //////////////////////////////// membership-section /////////// */
.membership-section{
    background-color: #071629;
    color: white;
    padding: 3em ;
}
.membership-container{
    padding: 5em 0;
}
.membership-container > div{
    text-align: center;
}
.membership-container > div h3{
    padding: 1em 0;
    font-weight: normal;
}
.membership-container > div p{
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.5em;
}
.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #C271FF;
    border-radius: 5em;
    padding: 1.3em 1.5em;
    font-size: 0.7em;
    color: white;
    border: none;
    box-shadow: 2px 2px 30px rgb(69, 67, 67);
}
/* ///////////////////////////// faq-section //////////// */
.faq-section{
    height: 100vh;
    margin-bottom: 3em;
}
.faq-section h2{
    font-size: 3em;
    font-weight: 600px;
    padding: 1.5em;
}
.faq-container{
    gap: 5em;
}
.faq h3{
    padding: 1em 0;
}
.faq p{
    color: gray;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: start;
    padding-bottom: 3em;
}
/* /////////////////////////////////// footer //////////////// */
footer{
    background-color: #071629;
    padding: 4em 7em;
}
.icon-container i{
    color: #071629;
    font-size: 1.3em;
    border-radius: 5em;
    border: 6px solid white;
    background-color: white;
   
}
.icon-container{
    justify-content: space-between;

}
footer section p{
    text-align: center;
    color: grey;
    padding-top: 2em;
    font-size: 0.7em;
}